<%= form_for [refinery, :site_subscriptions_admin, @site_subscription] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @site_subscription,
              :include_object_name => true %>

  
  <div class='field'>
    <%= f.label :date -%>
    <%= f.datetime_select :date  -%>

  </div>
  
  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.site_subscriptions.admin.site_subscriptions.site_subscription'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete') %>
<% end -%>
